<div id="main">
<% page.posts.each(function(item){ %>
  <%- partial('_partial/article', {item: item, index: true,desc: true}) %>
<% }); %>
<% if (page.total > 1){ %>
  <nav id="page-nav" class="clearfix">
    <%- paginator({
      prev_text: '<span></span>Prev',
      next_text: 'Next<span></span>'
    }) %>
  </nav>
<% } %>
</div>