<% if (theme.duoshuo.enable && page.comments){ %>
<section class="comment">
	<div class="ds-thread"></div>
</section>
<% } %>
<% if( (config.disqus_shortname || theme.disqus.enable) && page.comments) { %>
<section class="comment">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>