<% if (theme.jiathis.enable){ %>
<div class="jiathis_style_24x24">
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_weixin"></a>
	<a class="jiathis_button_renren"></a>
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_googleplus"></a>
	<a class="jiathis_button_douban"></a>
	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" >
    var jiathis_config={
    data_track_clickback:true,
    sm:"copy,renren,cqq",
    pic:"<%- item.photos %>",
    summary:"",
    <% if (theme.jiathis.tsina){ %> ralateuid:{"tsina":"<%= theme.jiathis.tsina %>"},hideMore:false}
    <% } %>
  </script> 
<script type="text/javascript" src="//v3.jiathis.com/code/jia.js?uid=
<% if (theme.jiathis.id){ %><%= theme.jiathis.id %><% } %>" charset="utf-8"></script>      
<% } %>