<div class="linkslist">
  <p class="asidetitle">About Me</p>
  <ul>
    <li><a href="https://github.com/atian25" target="_blank">我的Github</a></li>
    <li><a href="http://www.zhihu.com/people/liuyong25" target="_blank">我的知乎</a></li>
    <li><a href="http://atian25.github.io/2014/05/10/job-ucweb/" target="_blank">加入UC优视</a></li>
  </ul>
</div>
<div class="linkslist">
  <p class="asidetitle"><%= __('links') %> - JS</p>
  <ul>
    <li><a href="http://dailyjs.com/" target="_blank">DailyJS</a></li>
    <li><a href="http://www.75team.com/weekly/" target="_blank">奇舞周刊</a></li>
    <li><a href="https://github.com/fouber/blog" target="_blank" title="前端工程化 - 干货">张云龙</a></li>
  </ul>
</div>
<div class="linkslist">
  <p class="asidetitle"><%= __('links') %> - Angular</p>
  <ul>
    <li><a href="http://angular-tips.com/" target="_blank">angular-tips</a></li>
    <li><a href="http://angularjs.cn/" target="_blank">AngularJS中文社区</a></li>
    <li><a href="http://www.cnblogs.com/whitewolf/" target="_blank">破狼的Blog</a></li>
  </ul>
</div>