<div class="linkslist">
  <p class="asidetitle"><%= __('links') %> - JS</p>
  <ul>
    <li><a href="http://dailyjs.com/" target="_blank">DailyJS</a></li>
    <li><a href="http://www.75team.com/weekly/" target="_blank">奇舞周刊</a></li>
  </ul>
  <p class="asidetitle"><%= __('links') %> - Angular</p>
  <ul>
    <li><a href="http://angular-tips.com/" target="_blank">angular-tips</a></li>
    <li><a href="http://angularjs.cn/" target="_blank">AngularJS中文社区</a></li>
    <li><a href="http://www.cnblogs.com/whitewolf/" target="_blank">破狼的Blog</a></li>
  </ul>
</div>