<div class="weiboshow">
  <p class="asidetitle"><%= __('weibo') %></p>
    <iframe width="100%" height="119" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=119&fansRow=2&ptype=1&speed=0&skin=9&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=<%= theme.author.tsina %>&verifier=b3593ceb&dpc=1"></iframe>
</div>
