//Color
color-background = #dddddd
color-content = #413F3F
color-font = #817C7C
color-white = #ffffff
color-blue = #2ca6cb	//#0085ff
color-orange = #ea6753
color-theme = #2ca6cb	//#1FA9D4    //#ea6753
color-font-nav =#E9CD4C
color-section = #fafafa
color-footer = #1f1f1f
color-gray = #CCC
color-heading = #333333
color-quote = #f5f5f5
color-code = #eee
color-twitter = #00aced
color-facebook = #3b5998
color-weibo = #c64d3e
color-google = #dd4b39
color-qrcode= #49ae0f
color-renren= #369
color-top = #762c54

//Media
width-phone = 568px
width-mini = 768px
width-tablet = 1024px
width-desktop = 1560px
phone = "only screen and (min-width: " + width-phone + ")"
mini= "only screen and (min-width: " + width-mini + ")"
tablet = "only screen and (min-width: " + width-tablet + ")"
desktop = "only screen and (min-width: " + width-desktop + ")"
phonemax = "only screen and (max-width: " + width-phone + ")"
tabletmax = "only screen and (max-width: " + width-tablet + ")"

//Font
font-default = "Helvetica Neue", "Helvetica","Microsoft YaHei", "WenQuanYi Micro Hei",Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-custom-family = "covered_by_your_graceregular"
font-custom-filename = coveredbyyourgrace-webfont
font-icon-family = "FontAwesome"
font-icon-filename = fontawesome-webfont
font-icon-version = "4.0.3"
font-icon-diao = "fontdiao"
font-icon-diao-filename = "fontdiao"
font-icon-diao-version = "0.0.8"
ShowCustomFont = hexo-config("ShowCustomFont")
font-size = 100%
line-height = 1.5

//image
dataURI = hexo-config("dataURI")
if dataURI == true
    author-img-data = unquote(hexo-config("author_img_data"))
author-img = hexo-config("author_img")
ShowGallery = hexo-config("ShowGallery")
root = hexo-config("root")

//comment
duoshuo = hexo-config("duoshuo.enable")

//highlight
highlight = hexo-config("highlight.enable")
